<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog Poetry</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="shortcut icon" type="image/png" href="favicon.ico"/>        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/404.css">
    </head>
    <body>
    
  
    <div class="container">
      <!-- page header -->
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><a href="/blog">My Best Poetries</a> <br> <small>by mkenlo</small> </h1>         
        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <section id="fof" class="clear">
	      <!-- ####################################################################################################### -->
	      <div class="hgroup">
	        <h1>Something Just Went Wrong !</h1>
	        <h2>404 Error</h2>
	      </div>
	      <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
	      <p>Go <a href="javascript:history.go(-1)">Back</a> or <a href="/">Home</a></p>
	      <!-- ####################################################################################################### -->
    	</section>
        </div>
      </div> 
    