{% extends "index.html" %} 

{% block content %}

<div class="row">

	<div class="col-md-4">
		<h2>Login</h2>
		{% if info %}
		<p class="alert alert-warning" role="alert">{{info}}</p>
		{% endif %}
		<form method="post" action="">
			<label>Username
		      <input type="text" name="username" required autocomplete='email' class="form-control" placeholder="johnsue">
		    </label>
		    <label>Password
		      <input type="password" name="password" required class="form-control">
		    </label>
		    <label>
		    	<input id="submit" type="submit" class="btn btn-primary form-control">
			</label>
		</form>
	<div class="col-md-4">
</div>
{% endblock %}