{% extends "index.html" %} 

{% block content %}
 
 <div class="row">   
  <div class="col-md-12">
      <article>
        <h4>{{post.title}} </h4>
        <p>{{post.content}} </p> 
      </article>
      <hr>
      <span>
        <p> Posted by <b>{{post.author.id()}}</b> <small>{{post.created}}</small></p>
      </span>
      <br>
      {%if post.author.id() == username %}
        <a href="/blog/edit/{{post.key.id()}}" role="button" class="btn btn-info">Edit this article</a>
      {% elif username %}  
        <a href="/blog/add" role="button" class="btn btn-success">Write a post</a>
      {% else %}  
        <a href="/login" >Login to write a post</a>
      {% endif %}
    </div>
 </div>
 <br>
 <div class ="row">
  <h3>So much comments...</h3>
  <div class="col-md-12">
    {% for comment in post_comments%}
      <h4>{{comment.author.id()}}<small> said:</small> </h4>
      <blockquote>
        <p>{{comment.comment}}</p>
      </blockquote>
      {% if username == comment.author.id() %}  
        <div >  
          <a title="click to edit comment" id="edit-comment-link" onclick="showEditComment()"> <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit </a>
          <a href="/blog/delcomment/{{comment.key.id()}}" title="delete comment" onclick="deletePost()"> <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</a>
         </div>
         <br> 
          <div id="edit-comment" class="col-md-6">
            <form method="post" action="/blog/editcomment/{{comment.key.id()}}">
              <textarea name="content" rows="5" cols="50" class="form-control">{{comment.comment}}</textarea><br>
              <input type="submit" value="Save comment" class="btn btn-primary">
            </form>  
          </div>
      {% endif %}
      
    {% endfor %}


    {% if not post_comments%}
    <p> Not yet comments for this posts</p>
    {% endif %}
</div>

 </div>
 <br>
<div class="row">
    <div class="col-md-4">
      {% if username != post.author.id()%}
      <a href="/blog/comment/{{post.key.id()}}">Add a comment  </a>&nbsp;|
      {% endif %}
       &nbsp; <a href="/blog">Return to Home Page </a>
    </div>
</div>
 {% endblock %}     